.checkout-steps > div {
  border-bottom: 0.4rem solid #fff;
  color: #fff;
  font-size: 1.25rem;
}
.checkout-steps > div.active {
  padding-bottom: 0.5em;
  border-bottom: 0.4rem solid #FFAF60;
  color: #FFAF60;
}
