@charset "UTF-8";
body {
  overflow-y: overlay;
  background-color: #0b1314;
  font-family: "Playfair Display", serif;
  color: #fff;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
}

.site-container {
  min-height: 100vh;
}

header {
  background-color: #664000;
}
header a {
  color: #fff;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  table {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
@media (min-width: 768px) {
  .bingCart {
    height: 825px;
    line-height: 825px;
  }
}
@media (max-width: 768px) {
  .bingCart {
    height: 450px;
    line-height: 450px;
  }
}
nav {
  height: 3.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}
nav a {
  text-decoration: none;
  color: #000 !important;
  background-color: #ffc107 !important;
  z-index: 999 !important;
  position: relative !important;
  transition: all 0.25s ease-out !important;
}
nav a:hover {
  transform: translateY(-2px);
  font-weight: 700;
}
nav .dropdown-menu {
  background-color: #ffc107 !important;
}

section > .home {
  background: url(./imgs/home/89A1665.jpg) no-repeat center/cover;
  min-height: 1100px;
  letter-spacing: 1rem;
}

.cardBorder {
  border: 90px solid;
  -o-border-image: url(./imgs/home/border.png) 135;
     border-image: url(./imgs/home/border.png) 135;
  height: 100%;
}

.cardImgWrap {
  height: 475px;
}

.shopDecor {
  width: 50%;
}

.productImg {
  width: 100%;
  height: 250px;
  transition: all 0.5s;
  cursor: pointer;
}
.productImg:hover {
  transform: scale(1.1);
}

.cusborder {
  border: 75px solid;
  -o-border-image: url(./imgs/home/border.png) 135;
     border-image: url(./imgs/home/border.png) 135;
  height: 100%;
}

@media (max-width: 1440px) {
  .cardBorder {
    border: 75px solid;
    -o-border-image: url(./imgs/home/border.png) 135;
       border-image: url(./imgs/home/border.png) 135;
  }
}
@media (max-width: 1200px) {
  .cardBorder {
    border: 40px solid;
    -o-border-image: url(./imgs/home/border.png) 135;
       border-image: url(./imgs/home/border.png) 135;
  }
}
@media (max-width: 768px) {
  .cardBorder {
    border: 40px solid;
    -o-border-image: url(./imgs/home/border.png) 135;
       border-image: url(./imgs/home/border.png) 135;
  }
  .shopDecor {
    width: 100%;
  }
}
@media (max-width: 512px) {
  section .home {
    background: url(./imgs/home/89A1665.jpg) no-repeat center/cover;
    min-height: 50vh;
    letter-spacing: 0.5rem;
  }
  .cardBorder {
    border: 50px solid;
    -o-border-image: url(./imgs/home/border.png) 135;
       border-image: url(./imgs/home/border.png) 135;
  }
}
/*如果螢幕寬度為 400px 以上 且 700px 以下，就套用 css 設定*/
.Mybutton {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 0.25rem 2rem 0.25rem 2rem;
  transition: all 0.5s;
}
.Mybutton:hover {
  background: #fff;
  color: black;
}

.rating span {
  color: gold;
}

.checkout-steps > div {
  border-bottom: 0.4rem solid #fff;
  color: #fff;
  font-size: 1.25rem;
}

.checkout-steps > div.active {
  padding-bottom: 0.5em;
  border-bottom: 0.4rem solid #FFAF60;
  color: #FFAF60;
}

.text-bold {
  font-weight: 700;
  font-size: 1.25rem;
}

.dashboard {
  color: black;
}

.card-title {
  margin-bottom: 0;
}/*# sourceMappingURL=index.css.map */