body {
  //避免scroll bar擠壓爆版
  overflow-y: overlay;
  background-color: #000;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
main {
  flex: 1;
}
a {
  text-decoration: none;
}

.site-container {
  min-height: 100vh;
}

@import "./components/Navbar";
@import "./pages/ProductList/components/Rating";
@import "./pages/CartPage/components/CheckoutSteps";
